:root {
  --main-color: #f78915;
  --main-color-white: #fff;
  --main-color-grey10: #fafafa;
  --main-color-grey20: #f4f4f4;
  --main-color-grey30: #e8e8e8;
  --main-color-grey40: #dadada;
  --main-color-grey50: #c9c9c9;
  --main-color-grey60: #adadad;
  --main-color-grey70: #8d8d8d;
  --main-color-grey80: #6c6c6c;
  --main-color-grey90: #4e4e4e;
  --main-color-grey100: #333;
  --main-color-grey110: #242424;
  --main-color-grey120: #171717;
  --main-color-black: #000;
  --main-color-blue120: #001838;
  --main-color-blue110: #00214c;
  --main-color-blue100: #003375;
  --main-color-blue90: #0049a8;
  --main-color-blue80: #0064e5;
  --main-color-blue70: #2986ff;
  --main-color-blue60: #70aeff;
  --main-color-blue50: #a8ceff;
  --main-color-blue40: #d1e5ff;
  --main-color-blue30: #e5f1ff;
  --main-color-blue20: #f0f6ff;
  --main-color-blue10: #fafcff;
  --main-color-red20: #faeff0;
  --main-color-red30: #f8e3e4;
  --main-color-red40: #f2cccf;
  --main-color-red50: #e7a2a8;
  --main-color-red60: #d96d76;
  --main-color-red70: #c72f2f;
  --main-color-red80: #ae0917;
  --main-color-red90: #800707;
  --main-color-red100: #590505;
  --main-color-yellow20: #fffdf8;
  --main-color-yellow30: #fffaed;
  --main-color-yellow40: #fff7df;
  --main-color-yellow50: #ffefc0;
  --main-color-yellow60: #ffe493;
  --main-color-yellow70: #facf4e;
  --main-color-yellow80: #ffbf00;
  --main-color-yellow90: #c29100;
  --main-color-yellow100: #8f6b00;
  --main-color-purple30: #e9e6f5;
  --main-color-purple40: #dbd5f0;
  --main-color-purple50: #bbb1e0;
  --main-color-purple60: #9688ce;
  --main-color-purple70: #5743ab;
  --main-color-purple80: #402a96;
  --main-color-purple90: #2f206b;
  --main-color-purple100: #180c4a;
  --main-color-green30: #ecf9f2;
  --main-color-green40: #ddf3e7;
  --main-color-green50: #bee9d2;
  --main-color-green60: #94dbb5;
  --main-color-green70: #5eca90;
  --main-color-green80: #3aac6f;
  --main-color-green90: #2a7e51;
  --main-color-green100: #1e5839;
  --main-color-orange20: #fef9f6;
  --main-color-orange30: #fdf1e7;
  --main-color-orange40: #fbe6d6;
  --main-color-orange50: #f7cfb0;
  --main-color-orange60: #f2b07d;
  --main-color-orange70: #ed883b;
  --main-color-orange80: #d16614;
  --main-color-orange90: #9a4b0f;
  --main-color-orange100: #6b340a;
  --main-color-teal30: #ddf7f9;
  --main-color-teal40: #c5f4f7;
  --main-color-teal50: #aaeff3;
  --main-color-teal60: #7ce2e9;
  --main-color-teal70: #3fd4de;
  --main-color-teal80: #18bec9;
  --main-color-teal90: #14a4ad;
  --main-color-teal100: #037a82;
  --main-color-violet30: #f2cffc;
  --main-color-violet40: #e8b6f7;
  --main-color-violet50: #d591e8;
  --main-color-violet60: #c666e1;
  --main-color-violet70: #b243d0;
  --main-color-violet80: #a120c5;
  --main-color-violet90: #7d199a;
  --main-color-violet100: #64057f;
  --main-color-text: #171717;
  --main-color-textSubtle: #6c6c6c;
  --main-color-textDisabled: #adadad;
  --main-color-link: #0064e5;
  --main-color-linkHover: #0064e5;
  --main-color-linkActive: #0064e5;
  --main-color-secondaryLink: #171717;
  --main-color-secondaryLinkHover: #4e4e4e;
  --main-color-secondaryLinkActive: #4e4e4e;
  --main-color-tertiaryLink: #8d8d8d;
  --main-color-tertiaryLinkHover: #4e4e4e;
  --main-color-tertiaryLinkActive: #4e4e4e;
  --main-color-interactive: #0064e5;
  --main-color-interactiveHover: #0049a8;
  --main-color-interactiveActive: #003375;
  --main-color-interactiveDisabled: #d1e5ff;
  --main-color-secondaryInteractiveHover: #f4f4f4;
  --main-color-secondaryInteractiveActive: #dadada;
  --main-color-selectable: #f4f4f4;
  --main-color-selectableHover: #dadada;
  --main-color-selectableActive: #c9c9c9;
  --main-color-selectableDisabled: #fafafa;
  --main-color-selectedBackground: #f0f6ff;
  --main-color-selectedBackgroundHover: #d1e5ff;
  --main-color-selectedBackgroundActive: #a8ceff;
  --main-color-selectedText: #171717;
  --main-color-onDarkText: #fff;
  --main-color-onDarkTextSubtle: #c9c9c9;
  --main-color-onDarkTextDisabled: #adadad;
  --main-color-onDarkLink: #0064e5;
  --main-color-onDarkLinkHover: #0064e5;
  --main-color-onDarkLinkActive: #0064e5;
  --main-color-onDarkInteractive: #0064e5;
  --main-color-onDarkInteractiveHover: #0049a8;
  --main-color-onDarkInteractiveActive: #003375;
  --main-color-onDarkInteractiveDisabled: #d1e5ff;
  --main-color-border: #dadada;
  --main-color-borderDisabled: #e8e8e8;
  --main-color-background: #fff;
  --main-color-backgroundAccent: #f4f4f4;
  --main-color-backgroundDark: #000;
  --main-color-dropShadow: rgba(0, 0, 0, 0.1);
  --main-color-innerShadow: rgba(0, 0, 0, 0.2);
  --main-color-lightBackdrop: hsla(0, 0%, 100%, 0.75);
  --main-color-darkBackdrop: rgba(0, 0, 0, 0.25);
  --main-color-critical: #ae0917;
  --main-color-criticalHover: #800707;
  --main-color-criticalActive: #590505;
  --main-color-criticalDisabled: #f2cccf;
  --main-color-faintCritical: #f8e3e4;
  --main-color-faintCriticalHover: #f2cccf;
  --main-color-faintCriticalActive: #e7a2a8;
  --main-color-highlight: #ffbf00;
  --main-color-faintHighlight: #fff7df;
  --main-color-success: #3aac6f;
  --main-color-faintSuccess: #ddf3e7;
  --main-color-successBackground: #5eca90;
  --main-color-darkInteractive: #003375;
  --main-color-lightInteractive: #0049a8;
  --main-color-faintInteractive: #f0f6ff;
  --main-color-coolBlack: #000;
  --main-color-coolDeepNeutral: #242424;
  --main-color-coolDarkNeutral: #6c6c6c;
  --main-color-deepNeutral: #333;
  --main-color-darkNeutral: #6c6c6c;
  --main-color-mediumNeutral: #8d8d8d;
  --main-color-mediumLightNeutral: #adadad;
  --main-color-lightNeutral: #dadada;
  --main-color-faintNeutral: #f4f4f4;
  --main-color-actionable: #0064e5;
  --main-color-actionableHover: #0049a8;
  --main-color-actionableActive: #003375;
  --main-color-actionableDisabled: #d1e5ff;
  --main-color-textStrong: #171717;
  --main-color-textTitle: #171717;
  --main-color-textTitleSubtle: #6c6c6c;
  --main-color-actionableLowEmph: #000;
  --main-color-actionableLowEmphHover: #0064e5;
  --main-color-inputChecked: #000;
  --main-color-onDarkTextStrong: #fff;
  --main-color-onDarkTextTitle: #fff;
  --main-color-onDarkTextTitleSubtle: #c9c9c9;
  --main-color-onDarkActionable: #0064e5;
  --main-color-onDarkActionableHover: #0049a8;
  --main-color-onDarkActionableLowEmph: #fff;
  --main-color-onDarkActionableLowEmphHover: #0064e5;
  --main-color-onDarkActionableActive: #003375;
  --main-color-onDarkActionableDisabled: #d1e5ff;
  --main-color-darkCitrus: #9a4b0f;
  --main-color-citrus: #d16614;
  --main-color-faintCitrus: #fbe6d6;
  --main-color-darkMint: #1e5839;
  --main-color-mint: #2a7e51;
  --main-color-faintMint: #ddf3e7;
  --main-color-darkAqua: #037a82;
  --main-color-aqua: #14a4ad;
  --main-color-faintAqua: #ddf7f9;
  --main-color-darkLilac: #7d199a;
  --main-color-lilac: #b243d0;
  --main-color-faintLilac: #f2cffc;
  --main-color-dataViz1: #1b39ef;
  --main-color-dataViz2: #59a1fa;
  --main-color-dataViz3: #b0c5e8;
  --main-color-dataViz4: #3ae0d4;
}
