:root {
  --display-xs: 360px;
  --display-s: 768px;
  --display-m: 1024px;
  --display-l: 1440px;
  --display-xl: 1920px;
}

/* Cell phone */
@media (min-width: 200px) {
}
/* Tablets */
@media (min-width: 768px) {
}
/* MacBook Pro */
@media (min-width: 1024px) {
}
/* Extra large devices */
@media (min-width: 1440px) {
}
/* Extra large devices */
@media (min-width: 1920px) {
}

/* DEVICE VIEWPORT
iPhone 12 Mini      360x780
iPhone 12 & Pro     390x844
iPhone 12 Max       428x926
iPad Mini           768x1024
iPad 10.2”          810x1080
iPad Pro 11”        834x1194
iPad Pro 12.9”     1024x1366
MacBook Pro 13”    1280x800
MacBook Pro 15”    1440x900
MacBook Pro 16”    1536x960
iMac 27"           2560x1440 */
