.mypage-body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mypage-category {
  position: absolute;
  z-index: 10;
  transform: translate(0, -50%);
  background-color: transparent;
  text-align: center;
}

.mpcat-item {
  cursor: pointer;
}

.mypage-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.8);
  color: #fff;
  overflow: auto;
}
.laptop-listing-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  overflow: auto;
}

.mypage-input-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mypage-input {
  border: none;
}

.mypage-input:focus {
  border: none;
  outline: none;
}

.mypage-submit-btn {
  background-color: #f78915;
  color: #fff;
  cursor: pointer;
  border: none;
}

.listing-section {
  justify-content: start;
}

.myp-lising-card {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.myp-lising-card:hover .myp-card-desc {
  background-color: rgb(0, 0, 0, 0.3);
  color: #fff;
}

.myp-lising-card:hover .myp-card-img {
  filter: brightness(0.5);
}

.myp-card-left {
  position: relative;
}

.myp-card-img {
  background-image: url('/assets/img/logo/CM_loadingspinner.gif');
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
}

.myp-card-img-desc {
  position: absolute;
  display: flex;
  justify-content: space-between;
  color: #fff;
  background-color: rgb(0, 0, 0, 0.6);
}

.myp-card-desc {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-color: #fff;
  color: #000;
}

.myp-card-editdelete {
  display: flex;
  position: absolute;
  color: #000;
}

.myp-edit-div {
  background-image: url('/assets/img/icon/edit_b.png');
  background-repeat: no-repeat;
  background-position: center;
}

.myp-lising-card:hover .myp-edit-div {
  background-image: url('/assets/img/icon/edit_o.png');
  background-repeat: no-repeat;
  background-position: center;
}

.myp-lising-card:hover .myp-card-editdelete {
  color: #fff;
}

.editdelete {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 15;
  cursor: pointer;
}

.editdelete:hover {
  color: #f78915;
}

.myp-delete-div {
  background-image: url('/assets/img/icon/delete_b.png');
  background-repeat: no-repeat;
  background-position: center;
}

.myp-lising-card:hover .myp-delete-div {
  background-image: url('/assets/img/icon/delete_w.png');
  background-repeat: no-repeat;
  background-position: center;
}

.myp-delete-div:hover {
  background-color: #f78915;
  background-image: url('/assets/img/icon/delete_o.png');
  background-repeat: no-repeat;
  background-position: center;
}

.mp-wallpaper {
  position: absolute;
  object-fit: cover;
  z-index: -5;
}

.editdeleteLoadingSpinner {
  background-image: url('/assets/img/logo/CM_loadingspinner.gif');
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  cursor: wait;
}

/* Cell phone */
@media (min-width: 200px) {
  .mypage-body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: calc(100vh - 100px);
  }

  .mobile-mypage-category {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 64vw;
    height: 32px;
    font-size: 12px;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    z-index: 20;
  }

  .mypage-category {
    display: none;
  }

  .mob-mpcat-item {
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mpcat-item {
    padding: 24px 0;
  }

  .mypage-section {
    width: 85vw;
    height: 540px;
    border-radius: 16px;
  }

  .mypage-avatar {
    width: 72px;
    height: 72px;
    margin-bottom: 16px;
  }

  .mypage-input-cont {
    width: 60vw;
    margin: 12px 0;
    font-size: 12px;
  }

  .mypage-input {
    width: 180px;
    height: 32px;
    padding: 0 18px;
    border-radius: 16px;
  }

  .mypage-submit-btn {
    width: 64px;
    height: 32px;
    margin-top: 48px;
    font-size: 16px;
    border-radius: 8px;
  }

  .listing-section {
    padding: 20px;
  }

  /* TOP LINE MOBILE LISTING */

  .laptop-listing-div {
    display: none;
  }

  .mb-mypage-card {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #fff;
    color: #000;
    padding: 6px;
    border-radius: 4px;
    margin-bottom: 8px;
  }

  .mb-mypage-card > a {
    color: #000;
  }

  .mb-mypage-card-cont {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
  }

  .mb-mypage-card-img {
    width: 64px;
    height: 64px;
    margin-right: 8px;
    border-radius: 4px;
  }

  .mb-mypage-card-desc {
    display: flex;
    flex-direction: column;
    width: 170px;
    font-size: 12px;
    justify-content: space-evenly;
  }

  .mb-mypage-card-info {
    display: flex;
    justify-content: space-around;
  }

  .mb-mypage-card-editdelete {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .mb-mypage-card-editdelete > i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    font-size: 20px;
    /* padding-left: 8px; */
  }

  /* BOTTOM LINE MOBILE LISTING */

  .myp-lising-card {
    width: 50vw;
    height: 160px;
    border-radius: 8px;
    margin-bottom: 16px;
  }

  .myp-card-img {
    width: 280px;
    height: 160px;
    border-radius: 8px;
    background-size: 64px;
  }

  .myp-card-img-desc {
    bottom: 0px;
    width: 100%;
    font-size: 12px;
    padding: 6px 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .myp-card-type > p {
    margin: 2px 0;
  }

  .myp-card-desc {
    width: 664px;
    height: 160px;
    border-radius: 8px;
    padding: 24px;
  }

  .myp-card-detail > p {
    margin-top: 6px;
  }

  .myp-card-editdelete {
    width: 200px;
    bottom: 0;
    right: 0;
    padding: 24px;
  }

  .myp-edit-div {
    width: 28px;
    height: 28px;
    margin: 0 4px;
    background-size: 28px;
  }

  .myp-lising-card:hover .myp-edit-div {
    background-size: 28px;
  }

  .editdelete {
    width: 54px;
    font-size: 20px;
    margin-left: 16px;
  }

  .editdelete > span {
    font-size: 14px;
  }

  .myp-delete-div {
    width: 28px;
    height: 28px;
    margin: 0 4px;
    background-size: 28px;
  }

  .myp-lising-card:hover .myp-delete-div {
    background-size: 28px;
  }

  .myp-delete-div:hover {
    background-size: 28px;
  }

  .mp-wallpaper {
    top: 0;
    width: 100vw;
    height: 100vh;
  }

  .editdeleteLoadingSpinner {
    height: 74px;
    width: 74px;
    border-radius: 8px;
    background-size: 100px;
  }
}
/* Tablets */
@media (min-width: 768px) {
  .mypage-body {
    flex-direction: row;
    width: 100vw;
    height: calc(100vh - 100px);
  }

  .mobile-mypage-category {
    display: none;
  }

  .mypage-category {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 100px;
    top: 40%;
    left: calc(50% - 612px);
    font-size: 16px;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
  }

  .mpcat-item {
    padding: 24px 0;
  }

  .mypage-section {
    width: 1024px;
    height: 680px;
    border-radius: 24px;
  }

  .mypage-avatar {
    width: 148px;
    height: 148px;
    margin-bottom: 32px;
  }

  .mypage-input-cont {
    width: 540px;
    margin: 20px 0;
    font-size: 20px;
  }

  .mypage-input {
    width: 440px;
    height: 36px;
    padding: 0 18px;
    border-radius: 18px;
  }

  .mypage-submit-btn {
    width: 64px;
    height: 32px;
    margin-top: 48px;
    font-size: 16px;
    border-radius: 8px;
  }

  .laptop-listing-div {
    display: flex;
  }

  .mob-listing-div {
    display: none;
  }

  .listing-section {
    padding: 32px;
  }

  .myp-lising-card {
    width: 960px;
    height: 160px;
    border-radius: 8px;
    margin-bottom: 16px;
  }

  .myp-card-img {
    width: 280px;
    height: 160px;
    border-radius: 8px;
    background-size: 64px;
  }

  .myp-card-img-desc {
    bottom: 0px;
    width: 100%;
    font-size: 12px;
    padding: 6px 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .myp-card-type > p {
    margin: 2px 0;
  }

  .myp-card-desc {
    width: 664px;
    height: 160px;
    border-radius: 8px;
    padding: 24px;
  }

  .myp-card-detail > p {
    margin-top: 6px;
  }

  .myp-card-editdelete {
    width: 200px;
    bottom: 0;
    right: 0;
    padding: 24px;
  }

  .myp-edit-div {
    width: 28px;
    height: 28px;
    margin: 0 4px;
    background-size: 28px;
  }

  .myp-lising-card:hover .myp-edit-div {
    background-size: 28px;
  }

  .editdelete {
    width: 54px;
    font-size: 20px;
    margin-left: 16px;
  }

  .editdelete > span {
    font-size: 14px;
  }

  .myp-delete-div {
    width: 28px;
    height: 28px;
    margin: 0 4px;
    background-size: 28px;
  }

  .myp-lising-card:hover .myp-delete-div {
    background-size: 28px;
  }

  .myp-delete-div:hover {
    background-size: 28px;
  }

  .mp-wallpaper {
    top: 0;
    width: 100vw;
    height: 100vh;
  }

  .editdeleteLoadingSpinner {
    height: 74px;
    width: 74px;
    border-radius: 8px;
    background-size: 100px;
  }
}
/* MacBook Pro */
@media (min-width: 1024px) {
}
/* Extra large devices */
@media (min-width: 1440px) {
}
/* Extra large devices */
@media (min-width: 1920px) {
}
